body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 70px;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ParagraphOne,
.ParagraphTwo {
    color: white;
    opacity: 0.5;
    text-align: center;
    text-decoration: underline;
}

.camp,
.phone {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

